* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
html,
body {
  width: 100%;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "NanumSquareNeo-Variable", "Noto Sans KR", sans-serif;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.68px;
  word-break: keep-all;
  color: #000;
  font-weight: 400;
  min-width: 480px;
}
#wrap {
  width: 100%;
  position: relative;
}
