/* 비주얼 */
body {
  background-color: #efebe9;
}
.visual .inner {
  max-width: 1920px;
  width: 100%;
  background-color: #efebe9;
  position: relative;
}
.visual_port {
  width: 100%;
  height: 1000px;
  position: relative;
}
.visual_port_img {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: motion 1.3s linear 1.5s infinite alternate;
  margin-top: 100px;
}
@keyframes motion {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 118px;
  }
}
.side_menubar {
  position: fixed;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  width: 20%;
  /* background-color: aqua; */
  top: 35%;
  right: 3%;
  text-align: right;
  z-index: 99999;
}
/* ----------- */

/* ---------- */
.side_menu ul li a {
  font-size: 25px;
  line-height: 50px;
  font-weight: 700;
}
.about {
  background-color: #efebe9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: none;
  padding-top: 10%;
}
.about_bla {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_img_head {
  width: 200px;
  height: 70px;
  background-color: #1d1d1b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #ffcf01;
  font-weight: 800;
  margin-left: -45%;
  letter-spacing: 2px;
}
.about_img {
  background: url("../images/KakaoTalk_20231024_101714730.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 380px;
  height: 380px;
  float: left;
}
.about_three {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width: 530px;
}
.about_title {
  padding-left: 30px;
}
.about_title h2 {
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
}
.about_text {
  font-size: 16px;
  padding-top: 20px;
  padding-left: 30px;
  line-height: 25px;
}
.about_contact {
  padding-left: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
}
.about_contact01 {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
}
.about_tel i {
  padding-right: 10px;
  font-size: 25px;
  vertical-align: middle;
}
.about_gmail {
  padding-top: 7%;
}
.about_gmail i {
  padding-right: 10px;
  font-size: 25px;
  vertical-align: middle;
}
.about_git i {
  padding-right: 10px;
  font-size: 25px;
  vertical-align: middle;
}
.about_notion i {
  padding-right: 10px;
  font-size: 25px;
  vertical-align: middle;
}
.about_notion {
  padding-top: 7%;
}
.about_notion img {
  width: 28px;
  height: 28px;
}
/* 스킬 */
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 15%;
  max-width: 1680px;
  width: 100%;
  padding-left: 10%;
}
.skill_heading {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.skill_foot {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.skill_img_head {
  width: 200px;
  height: 70px;
  background-color: #1d1d1b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #ffcf01;
  font-weight: 800;
  letter-spacing: 2px;
  /* margin-right: 30%; */
}
.experience_img_head {
  width: 300px;
  height: 70px;
  background-color: #1d1d1b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #ffcf01;
  font-weight: 800;
  letter-spacing: 2px;
}
.skill_expe {
  position: relative;
  display: inline-block;
  left: 0;
}
.skill_expe_box {
  padding: 15px 0;
}
.skill_expe_box h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  width: 500px;
}
.skill_expe_box p {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  width: 500px;
}
.skill_expe_box p:nth-child(3) {
  font-size: 13px;
}
.skill_skillicon {
  position: relative;
  display: inline-block;
  right: 0;
}
/*  */
.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
  max-width: 1680px;
  width: 100%;
  padding-left: 10%;
}
.project_img_head {
  width: 230px;
  height: 70px;
  background-color: #1d1d1b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #ffcf01;
  font-weight: 800;
  letter-spacing: 2px;
}
.project_result {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project_first {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
.project_second {
  padding-top: 50px;
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.project_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  overflow: hidden;
}
.pro {
  overflow: hidden;
}
.project_img {
  position: relative;
  width: 100%;
  height: 260px;
  display: block;
  transition: all 0.2s linear;
  max-width: 440px;
  border-top: 1px solid #d3d0ce;
  border-left: 1px solid #d3d0ce;
  border-right: 1px solid #d3d0ce;
}
.project_img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.pro .project_img01 {
  width: 440px;
  background: url("../images/bmw.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.project_img02 {
  width: 440px;
  background: url("../images/ikea.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.project_img03 {
  width: 440px;
  background: url("../images/smile2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.project_img04 {
  width: 440px;
  background: url("../images/banner.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.project_img05 {
  width: 440px;
  background: url("../images/app.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.project_img06 {
  width: 440px;
  background: url("../images/hyundai.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.project_img07 {
  width: 440px;
  background: url("../images/stx.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.project_img08 {
  width: 440px;
  background: url("../images/hansalim.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.project_img09 {
  width: 440px;
  background: url("../images/dosirak.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.project_img10 {
  width: 440px;
  background-position: center;
  background-size: cover;
}
.project_img11 {
  width: 440px;
  background: url("../images/ararium.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.project_img12 {
  width: 440px;
  background: url("../images/weddingA.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.project_img13 {
  width: 440px;
  background: url("../images/weddingB.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.project_img14 {
  width: 440px;
  background-position: center;
  background-size: cover;
}
.project_text {
  position: relative;
  width: 440px;
  height: 160px;
  background-color: #fff;
  border: 1px solid #d3d0ce;
  line-height: 22px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project_text button {
  width: 50px;
  height: 30px;
  margin: 5px;
  background-color: #d3e5ef;
  border: none;
  border-radius: 5px;
  font-weight: 400;
}
.project_text button:nth-child(1) {
  background-color: #dbeddb;
}
.pr_icon button {
  background-color: #fdecc8;
}
.pr_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1px;
}
.project_text h3 {
  font-size: 18px;
  color: #1d1d1b;
}
.project_text p {
  font-size: 12px;
  font-weight: 500;
  color: #585858;
}
.pr_bottom {
  padding-top: 1%;
  line-height: 24px;
  color: #1d1d1b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pr_bottom a {
  font-size: 15px;
  font-weight: 500;
  /* z-index: 9999; */
}
.pr_right {
  position: relative;
  line-height: 22px;
  padding-top: 15px;
}
.pr_right span {
  font-size: 15px;
  text-transform: uppercase;
  color: #363e52;
}
.pr_right p {
  padding-top: 5px;
  font-weight: 600;
  color: #585858;
  font-size: 12px;
}
.pricon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pr_icon1 {
  width: 30px;
  height: 30px;
  background: url("../images/site.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.pr_icon2 {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background: url("../images/figma_circle.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.pr_icon3 {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background: url("../images/notion_circle.png") no-repeat;
  background-position: center;
  background-size: cover;
}
/* ---- */
.skill_heading02 {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}
.project_img_head02 {
  margin-top: 10%;
  width: 360px;
  height: 70px;
  background-color: #1d1d1b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #ffcf01;
  font-weight: 800;
  letter-spacing: 2px;
}
#project_none00 .project_img {
  border: none;
}
#project_none {
  display: none;
}
.project_result02 {
  margin-top: -3%;
}
/* footer */
.footer {
  margin-top: 10%;
  width: 100%;
  height: 120px;
  max-width: 1920px;
  background-color: #d3d0ce;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  width: 25%;
  color: #1d1d1b;
}
.footer_contact b {
  font-weight: 600;
}
.copy {
  font-size: 12px;
  padding-top: 20px;
  font-weight: 500;
  color: #585858;
}
.line00 {
  max-width: 1000px;
  width: 100%;
  height: 5px;
  background-color: #d3d0ce;
  margin-bottom: 5%;
  margin-top: -5%;
}
.line01 {
  max-width: 1000px;
  width: 100%;
  height: 5px;
  background-color: #d3d0ce;
  margin-bottom: 5%;
}
.line02 {
  width: 1000px;
  height: 5px;
  background-color: #d3d0ce;
  margin-top: 5%;
}
